# Ignore all files with no extension, except makefile
*
!*.*
!*/
!makefile

# Coverage reports and files
report/
*.gcda 
*.gcno
.coverage

# Log files
*.txt

# Compiler outputs
*.o 

# Python cache
__pycache__/
.pytest_cache/